<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">

  <!-- Logs internal actions for programmer -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} | %-5level %-40logger{38} | %msg%n</pattern>
    </encoder>
  </appender>

  <!-- default logging -->
  <root level="off">
    <appender-ref ref="STDOUT" />
  </root>

  <!-- Akka -->
  <logger name="akka" level="warn" />

  <!-- AWS error logging -->
  <logger name="com.amazonaws" level="off" />
  <logger name="software.amazon" level="off" />
  <logger name="software.amazon.kinesis.coordinator.Scheduler" level="off" />

  <!-- Kinesis Stream logging -->
  <logger name="px.kinesis.stream.consumer.checkpoint.CheckpointTrackerActor" level="info" />
  <logger name="px.kinesis.stream.consumer.checkpoint.ShardCheckpointTrackerActor" level="info" />

  <!-- Event tests -->
  <logger name="event-bus" level="INFO" />
</configuration>
